/* Font import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto+Condensed&display=swap');

/*O corpo da página */ 
body {
    background-color: rgb(60, 60, 60);

    color: aliceblue;
}
















.Titulo {
    font-family: 'IBM Plex Mono', monospace; /* Fonte  */

    
    border-style: solid; /* adiciona borda */ 
    border-width: 3px; /* adiciona tamanho na borda */ 

    border-radius: 3px;


    text-align: center; /* alinha o texto no centro*/
    text-shadow: 2px 2px 5px rgb(105, 67, 162); /* Adiciona sombra na fonte */ 
}

.Corpo {
    font-family: 'IBM Plex Mono', monospace; /* fonte importada*/

    border-style: solid;
    border-width: 3px;

    border-radius: 3px;

    border-width: 100%;
    border-right: 100%;
    
    text-align: justify;
    


}
.text {
    background-color: rgba(108, 108, 108, 0.721);
    border-radius: 5px;
}



/* Titulos e subtitulos  */ 
.position {
    border-left: 6px solid rgb(105, 67, 162);
    
    text-shadow: 2px 2px 5px rgb(105, 67, 162);

    
}
.position2 {
    border-left: 6px solid rgb(105, 67, 162);

    text-shadow: 2px 2px 5px rgb(105, 67, 162);
}
.subtitulo {
    border-left: 6px solid rgb(105, 67, 162) ;

    text-shadow: 2px 2px 5px rgb(105, 67, 162);
}
.contato {
    border-left:6px solid rgb(105, 67, 162);

    text-shadow: 2px 2px 5px rgb(105, 67, 162);
}
.cursos {
    border-left: 6px solid  rgb(105, 67, 162);

    text-shadow: 2px 2px 5px rgb(105, 67, 162);
}

.title4 {
    border-left:6px solid rgb(105, 67, 162);

    text-shadow: 2px 2px 6px rgb(105, 67, 162);
}


/* Imagem e icons*/ 
.imagens {
    height: 35px;
    width: 40px;

    align-items: center;

    position:absolute;
    
    display: flex;
    gap: 10px;

    list-style: none;


}
.smith {
    border-radius: 50%;
}