*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  /*  */
  body{
      background-color: rgb(58, 59, 59);
  }

  h1{
      color: white;
      background-color: rgb(105, 100, 7);
      padding: 20px 0 10px 8px;
  }
  p{
      color: rgb(0, 0, 0);
      padding: 0 0 30px 0;
      font-size: 20px;
  }
  /*  */
  .askaban{
      color: rgb(69, 85, 85);
  }

  .azulao{
      color: rgb(130, 130, 251);
  }

  .container{
    background-color: rgb(182, 182, 182);
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    
  }

  .row{
    padding: 5px;
  }
  .row::after{
    content: '';
    clear: both;
    display: table;
  }

  .col-1{width: 10%;float: left;}
  .col-2{width: 20%;float: left;}
  .col-3{width: 30%;float: left;}
  .col-4{width: 40%;float: left;}
  .col-5{width: 50%;float: left;}
  .col-6{width: 60%;float: left;}
  .col-7{width: 70%;float: left;}
  .col-8{width: 80%;float: left;}
  .col-9{width: 90%;float: left;}
  .col-10{width: 100%;float: left;}

  .row-flex{
    display: flex; 
    gap: 5px;
    margin: 15px 0;/* atualizado */
  }

  .col{
    width: 100%;
  }

  .centralizar-v{
    display: flex;
    align-items: center;
  }
  
  .centralizar-h {
    display: flex;
    justify-content: center;
  }

  /*espaço entre em objetos */
  .espaco-v{height: 5px;}
  .espaco-h{width: 5px;}

  @media screen and (max-width : 800px) {
    [class^= "col-"] {width:100%; float: left;}}
    
    .row-flex{
      flex-direction: column;
    }




    /* Tabela */
    table {
      border: 1px solid black;
      width: 100%;
      border-collapse: collapse;

    }
    tr{
      border: 1px solid black;
    }

    th, td {
      border: 1px solid black;
      padding: 5px;
      background-color: white;
    }
    th{
      background-color: rgb(187, 115, 254);
    }
    tr:hover td{
      background-color: blueviolet;
    }
    /* Input */
    input[type=text], input[type=tel], input[type=email], input[type=password], select{
        
        padding: 5px;
        border-radius: 5px;
        width: 100%;

        border: 1px solid gray;

        font-size: 18px;/* atualizado*/ 
        margin-top: 5px;/* atualizado */

    }
    input[type=reset] {
      background-color: #656565;
      padding: 5px 20px;
      color: white;
      border: 1px solid #656565;
    }
    input[type=submit]{
      background-color: green;
      color: white;
      padding: 5px 20px;
      border: 1px solid green
    }
    label{
      cursor: pointer;
      font-weight: bold; /* atualizado*/
      color: #777;/* atualizado*/
    }